# LaTeX files #
###############
*.aux
examples/*.pdf
*.backup
*.log
*.synctex.gz
/examples/proof.tex
/examples/out.tex

# Mutant files on Nikos' tree
examples/mutant_CAV06
examples/mutant_CAV06/*
tests/mutant
tests/mutant/*

# Eclipse Files #
#################
.paths
.project
.projectSettings
.settings/

# VSCode Files #
################
.vscode/

# OCaml Executables #
#####################
*.native
*.byte
*.top
index.html
_build/

# Python-related Files #
########################
*.pyc

# Local temporal files on Gadi's working copy
*[#]*
*~

# Heighted graphs files
graphs/*
src/generic/test/graphs