depexts: [
  ["libspot-dev" "pkg-config" "z3"] {os-family = "debian"}
  ["spot" "pkg-config" "z3"] {os = "macos" & os-distribution = "homebrew"}
  ["spot" "pkgconf" "z3"] {os-distribution = "arch"}
]
