<header class="site-header">
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
      </div>
      <!-- /.navbar-header -->

      <div class="navbar-default sidebar" role="navigation">
          <div class="sidebar-nav navbar-collapse">
              <ul class="nav" id="side-menu">
                  <li>
                      <a href="{{ site.baseurl | append: "/sl_prove" }}"><i class="fa fa-wrench fa-fw"></i> Entailment Prover</a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl | append: "/sl_satcheck" }}"><i class="fa fa-wrench fa-fw"></i> Satisfiability Checker</a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl | append: "/sl_modelcheck" }}"><i class="fa fa-wrench fa-fw"></i> Model Checker</a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl | append: "/sl_disprove" }}"><i class="fa fa-wrench fa-fw"></i> Entailment Disprover</a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl | append: "/while_prove" }}"><i class="fa fa-wrench fa-fw"></i> Termination/Safety Prover</a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl | append: "/while_abduce" }}"><i class="fa fa-wrench fa-fw"></i> Termination/Safety Abducer</a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl | append: "/installation" }}"><i class="fa fa-gears fa-fw"></i> Installation</a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl | append: "/demo"}}"><i class="fa fa-edit fa-fw"></i> Online Demo</a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl | append: "/api"}}"><i class="fa fa-file-text fa-fw"></i> API documentation</a>
                  </li>
              </ul>
          </div>
          <!-- /.sidebar-collapse -->
      </div>
      <!-- /.navbar-static-side -->
  </nav>
</header>
